.bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

.screen {
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 80vw;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.brand {
    margin: auto 0;
}

.btn-logout {
    background-color: rgb(151, 151, 151);
    padding: 5px 15px;
    font-size: small;
    border-radius: 8px;
}

.title {
    margin-top: 20vh;
}

.title h1 {
    font-size: 6.6rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .title h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 576px) {
    .title h1 {
        font-size: 3rem;
    }
}
